<div class="container">
  <h1>MY WEATHER APP</h1>
  <div class="search-container">
    <input type="text" placeholder="Ingrese una ciudad" [(ngModel)]="cityName">
    <input type="text" placeholder="Ingrese el código de país" [(ngModel)]="countryCode">
    <button (click)="search()">Buscar</button>
  </div>
  <div class="card-container">
    <div *ngFor="let city of cities" class="card">
      <button class="delete-button" (click)="deleteCity(city)">Eliminar</button>
      <h2>{{ city.name }}, {{ city.countryCode }}</h2>
      <img [src]="getWeatherIconUrl(city.weatherIcon)" alt="Icono del clima" class="weather-icon">
      <p>Temperatura: {{ city.temperature }}°C.</p>
      <p>Humedad: {{ city.humidity }}%.</p>
      <p>Latitud: {{ city.latitude }}.</p>
      <p>Longitud: {{ city.longitude }}.</p>
      <p>Descripción: {{ city.description }}.</p>
      <p>Viento: {{ city.windSpeed }} km/h.</p>
    </div>
  </div>
</div>